@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Roboto:wght@400;700&display=swap');


@media screen and (max-width:600px){
 
 


body{
    font-size: 1em;
    max-width: 500px;
    margin: 0;
    padding: 0; 
    font-family: 'lora', sans-serif;
    border:3px solid #DE003E;
    
}

nav{
    position: relative;
    display: inline-block;
    width: 400px;
    
}
main{
    width: 400px;
}

 div#headerTopo{
    width: 500px;
    height: auto;
    margin: 0;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
  

}

div > img.foto-logo{
    position: absolute;
    margin: 0;  
      
}



div#logo-mundo{
display: none;

   
}
div#headerTopo ul{
    position: relative;
    display: flex;
    align-items: center;


}
div#headerTopo li{
    background:none;
    height: none;
    text-align: center;
    display: block;
     
    
}


li > a{
    font-size: 1em;
    color: aliceblue;
    text-decoration: none;
    display: flex;
    padding: auto;
    background:none;
    
}

div#headerTopo a:hover{
    background: #69001d;
}

/*Conteudo main */

section {
    margin-top: 20px;
    display: block;
    width: 500px;
}
h2{
    background: #294C71;
    width: 270px;
    height: 30px;
    color: #fff;
    padding-left: 5px;
}

h4{
    background: #DE003E;
    padding-bottom: 5px;
    margin-top: 15px;
    width: 200px;
    padding: 5px;
}
h3{
    background: #DE003E;
    width: 150px; 
    color: #fff;
    margin-top: 15px;
    padding: 5px;
}




div >img.fotoDoutor{
    width: 270px;
    height: auto;
    margin-top: 5px;
}

div > p {
    width: 270px;
    
}

div >img.fotoTaxi{
    width: 270px;
    margin-top: 5px;
}

div > p.nomeEntrevista{
    padding-top: 20px;
}

div#primeiraColuna li{
    padding: 15px;
}

div img.fotoCidade{
    width: 100px;
    height: 70px;
    float: left;
    margin-top: 10px;


}
 p.paragrafo{
    float: right;
    width: 170px;
    margin-top: 10px;
    height: 70px;
    margin-left: 5px;
    

}
p.paragrafo > a{
    text-decoration: none;
}
input{
    width:270px;
    height: 40px;
    margin-top: 15px;
    
}
button{
    margin-top: 20px;
    padding: 10px;
    width: 100px;
    background: #DE003E;
}

footer{
    background: #294C71;
    padding: 25px;
    color: #fff;
    text-align: center;
    margin-top: 30px;
}
    
}