@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Roboto:wght@400;700&display=swap');


@media screen and (max-width:500px){

body{
    background: none;
    font-size: 1em;
    width: 100vw;
    height: 100vh;
    font-family: 'Lora', sans-serif;
    margin: 0px;

}
span.material-symbols-outlined{
    color: #fff;
    font-size: 3em;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 10%;
    cursor: pointer;
    background: #b4295070;
    
}
span.material-symbols-outlined:hover{
    background:#b42950;
   
}

header{
    background:#294C71;
    width: 100%;
    display: block;
     
}

div > img.foto-logo{
    position:relative;
    margin-left: 20px;
    
}
div#logo-mundo{
    display: none;
 }
div#menuTopo{
    display: block;
    position: relative;
    margin-left: 0;
    background: none;
}
nav#menuNav{
margin-top: 0;
height: auto;
display:none ;
 
}

div#menuTopo ul{
    display: block;
   background: none;

}
div#menuTopo li{
    background: none;
    
}

div#menuTopo li > a{
    background: rgb(146, 146, 175, 20%);
    display: block;
    width: 470px; 
    text-align: center;

}


/*Conteudo main */

main{
    width: 500px;
    background: #fff;
}

section {
    width: 470px;
    display: block;
    margin: 2px;

}
ul.entrevista{
    display: none;
}
div#primeiraColuna{
    width: 470px;
    height: 100%
    display: block;
}
div#segundaColuna{
    width: 470px;
    display: block;
    height: 100%;
}
div#terceiraColuna{
    width: 470px;
    display: block;
    height: 100%;
}
h2{
    background: #294C71;
    width: 470px;
    height: 30px;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    
}

h4{
    background: #DE003E;
    padding-bottom: 5px;
    margin-top: 15px;
    width: 200px;
    padding: 5px;
}
h3{
    background: #DE003E;
    width: 150px; 
    color: #fff;
    margin-top: 15px;
    padding: 5px;
    display: inline-block;
}

div >img.fotoDoutor{
    width: 500px;
    height: auto;
    margin-top: 5px;
}

div > p {
    width: 500px;
    
}

div >img.fotoTaxi{
    width: 500px;
    margin-top: 5px;
}

div > p.nomeEntrevista{
    padding-top: 20px;
}

div#primeiraColuna li{
    padding: 15px;
    margin-left: 5px;
    
}

/*aplicado nos dois menu fotos*/

ul#menuFoto, ul#menuFoto2{
    display: inline-block;
    height: 100%;
    width: 470px;
}
ul#menuFoto li, ul#menuFoto2 li{
    display: inline-block;
}
/*-----------------------------*/

h2.entrevistaTitulo{
    display: none;
}

div img.fotoCidade{
    width: 100px;
    height: 70px;
    
}
 p.paragrafo{
    float: right;
    width: 170px;
    margin-top: 10px;
    height: 70px;
    margin-left: 5px;
    
}
p.paragrafo > a{
    text-decoration: none;
}
input{
    width:100%;
    height: 40px;
    margin-top: 15px;
    
}
button{
    margin-top: 20px;
    padding: 10px;
    width: 100px;
    background: #DE003E;
}


 


}